
  <%= form_with model: post do |form|  %>
  <div class="field mb-3 ">
    <%= form.label :title %><br>
    <%= form.text_field :title,class:"form-control" %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field mb-3 ">
    <%= form.label :contents %><br>
    <%= form.text_area :contents,class:"form-control" %><br>
    <% post.errors.full_messages_for(:contents).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field mb-3 ">
     <%= collection_select(:category, :name, categories || [], :id, :name, {prompt: "選択してください。",selected: post.category_id},class: "form-select" )%>
  </div>

  <div class="actions mb-3">
    <%= form.submit "Post",class:"btn btn-primary" %>
  </div>
<% end %>

