<div class="container">
    <div class="card">
        <div class="card-header">お知らせ一覧</div>
        <% if @notifications.any? %>
            <ul class="list-group list-group-flush">
                <% @notifications.each do |notification| %>
                    <li class="list-group-item">
                        <div>
                            <% if notification.visitor.avatar? %>
                                <span>
                                <%= image_tag notification.visitor.avatar.url,size: '50x50',class: 'rounded-circle'%> 
                                </span>
                            <% else %>
                                <span>
                                <%= image_tag 'default.png',size: '50x50',class: 'rounded-circle'%> 
                                </span>
                            <% end %>
                            <%= notification.visitor.username %>さんから
                            <%= notification.action %>通知を受け取りました。
                            <% if notification.action =="message" %>
                                <%= link_to "メッセージを確認する。",talk_path(notification.message.talk_id) %>
                            <% elsif notification.action =="like" %>
                                <%= link_to "いいねされた投稿を確認する。",post_path(notification.post.id) %>
                            <% elsif notification.action =="comment" %>
                                <%= link_to "コメントを確認する。",post_path(notification.comment.post.id) %>   
                            <% elsif notification.action =="following" %>
                                <%= link_to "フォローされたユーザーを確認する。",pages_followings_path(id: notification.visitor.id) %> 
                            <% end %> 
                        </div> 
                        <div>
                            <span class="text-muted"><%= time_ago_in_words(notification.created_at)%> ago</span>
                        </div>
                    </li>
                <% end %>
            </ul>
        <% else %>
            新規のお知らせはありません。
        <% end %>
    </div>
</div>


